[submodule "ipor-fusion"]
	path = external/ipor-fusion
	url = https://github.com/IPOR-Labs/ipor-fusion.git
[submodule "external/core"]
	path = external/core
	url = https://github.com/yoprotocol/core
[submodule "external/yo-protocol-react-example"]
	path = external/yo-protocol-react-example
	url = https://github.com/AndonMitev/yo-protocol-react-example.git
